<!DOCTYPE html>
<head>
    <title> Mon CRUD </title>
    <link rel="stylesheet" href="../cssheader.css">
</head>
<body>
    <header>
        <div class="box0"><a href="../index.html"> <h1> Mon CRUD</h1> </a> </div>
        <div class="box1"> <a href="create.html"> Create</a></div>
        <div class="box2"> <a href="read.html"> Read </a></div>
        <div class="box3"> <a href="update.html">Update </a></div>
        <div class="box4"> <a href="delete.html">Delete </a></div>
    </header>
    <h2> Effacer vos informations :</h2>
    <form action="../Controllers/delete_ctrl.php" method="POST">
        <label for"pseudo"> Pseudo : </label>
        <input type="text" id="pseudo" name="pseudo">
        <br>
        <br>
        <label for"password"> Mot de passe: </label>
        <input type="password" id="motdepasse" name="mot_de_passe">
        <br>
        <br>
        <label for"description"> Description : </label>
        <br>
        <textarea id="description" name="description" rows="5" cols="33"> </textarea>
        <br>
        <br>
        <button type="submit"> Effacer les informations </button>
        <br>
    </form>
</body>